*{
    font-family: 'Press Start 2P', system-ui;
}

body{
    cursor: url("../src/cursor/yugicursor.png"), default;

}

button, a, img:hover, button:hover, a:hover{
    cursor: url("../src/cursor/yamiyugicursorGLOW.png"), auto;
}
/* SESSÃO DO VIDEO DE FUNDO! ------> */
.bg-video{
    position: absolute;
    z-index:-2;
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
    margin-left:10rem;

}

.bg-video .video{
    height:100vh;    

}

.bg-video::after{
    content:"";
    position:absolute;
    top:0;
    left:0;

    height:100vh;
    width:100vw;
    background:linear-gradient(
        90deg,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,0.8) 50%,
        rgba(0,0,0,0.6) 100%
    );
}
/* SESSÃO DO VIDEO DE FUNDO! <------ */

/* SESSÃO DO CONTAINER ESQUERDO ------> */
.container{
    position: relative;
    z-index: 3;
    display:flex;
    height:100vh;
}

 .container__left{
    width:35%;
    min-width:300px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;

 }

 .score_box{
    background-color: #fff;
    padding: 30px;

 }

 .frame{
    border: 3px solid rgb(128, 83, 0);
    border-radius: 5px;
 }

 .card_details{
    padding:1rem;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:6rem;
    width:100%;
 }

 #card-name{font-size:0.8rem;}
 #card-type{font-size:1rem;}
/* SESSÃO DO CONTAINER ESQUERDO <------ */

/* SESSÃO DO CONTAINER DIREITO ------> */
.container__right{
    width: 65%;

}

.card-box__container{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3;

}

.card-versus__container{
    display:flex;
    flex-direction: column;
    justify-items:center;
    align-items:center;
    padding-top: 3rem;
    height: 300px;
    
}

.versus-top,.versus-bottom{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.versus-bottom{
    margin-top: 1rem;
}

#next-duel{
    display:none;
}

.card-box{
    height: 9rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-infield{
    height: 11.2rem;
    width: 8rem;
    border: 1px solid #fff;
    border-radius: 8px;
    
}
/* SESSÃO DO CONTAINER DIREITO <------ */

.card{
    transition:transform 0.2s;
}

.card:hover{
    transform: scale(1.2);
}